:root {
  font-family: var(--silicom-font);
  font-size: 16px;
  font-weight: 500;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;

  --sidebar-width: 18.75rem;
}

html::after {
  display: none;
}

* {
  box-sizing: border-box
}

*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bg-color);
}

.app-nav {
  position: fixed;
}

body:not(.ready) {
  overflow: hidden
}

body:not(.ready) .app-nav, body:not(.ready)>nav, body:not(.ready) [data-cloak] {
  display: none
}

div#app {
  font-size: 2rem;
  margin: 40vh auto;
  text-align: center
}

div#app:empty:before {
  content: "Loading..."
}

img.emoji {
  height: 1.2em
}

img.emoji, span.emoji {
  vertical-align: middle
}

span.emoji {
  font-family: Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1.2em
}

.progress {
  background-color: var(--silicom-color);
  background-color: var(--theme-color, var(--silicom-color));
  height: 2px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: width .2s, opacity .4s;
  width: 0;
  z-index: 999999
}

body, html {
  height: 100%
}

body {
  margin: 0;
  overflow-x: hidden
}

img {
  max-width: 100%
}

a[disabled] {
  cursor: not-allowed;
  opacity: .6
}

kbd {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px !important;
  line-height: 12px;
  margin-bottom: 3px;
  padding: 3px 5px;
  vertical-align: middle
}

li input[type=checkbox] {
  margin: 0 .2em .25em 0;
  vertical-align: middle
}

.app-nav {
  margin: 25px 60px 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 10
}

.app-nav.no-badge {
  margin-right: 25px
}

.app-nav p {
  margin: 0
}

.app-nav>a {
  margin: 0 1rem;
  padding: 5px 0
}

.app-nav li, .app-nav ul {
  display: inline-block;
  list-style: none;
  margin: 0
}

.app-nav a {
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  transition: color .3s
}

.app-nav a.active {
  color: var(--silicom-color);
  color: var(--theme-color, var(--silicom-color))
}

@media (hover: hover) {
  .app-nav a:hover {
    color: var(--silicom-color);
    color: var(--theme-color, var(--silicom-color))
  }
}

.app-nav a.active {
  border-bottom: 2px solid var(--silicom-color);
  border-bottom: 2px solid var(--theme-color, var(--silicom-color))
}

.app-nav li {
  display: inline-block;
  margin: 0 1rem;
  padding: 5px 0;
  position: relative;
  cursor: pointer
}

.app-nav li ul {
  background-color: #fff;
  border: 1px solid;
  border-color: #ddd #ddd #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: none;
  max-height: calc(100vh - 61px);
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  right: -15px;
  text-align: left;
  top: 100%;
  white-space: nowrap
}

.app-nav li ul li {
  display: block;
  font-size: 14px;
  line-height: 1rem;
  margin: 8px 14px;
  white-space: nowrap
}

.app-nav li ul a {
  display: block;
  font-size: inherit;
  margin: 0;
  padding: 0
}

.app-nav li ul a.active {
  border-bottom: 0
}

@media (hover: hover) {
  .app-nav li:hover ul {
    display: block
  }
}

.github-corner {
  display: block;
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1
}

@media (hover: hover) {
  .github-corner:hover .octo-arm {
    animation: octocat-wave .56s ease-in-out
  }
}

.github-corner svg {
  height: 80px;
  width: 80px;
  color: var(--github-color);
  fill: var(--github-bg-color);
}

main {
  display: block;
  position: relative;
  width: 100vw;
  z-index: 0;
}

main.hidden {
  display: none
}

.content {
  margin-top: -100vh;
  padding-top: 6rem;
  transition: all 0.25s ease-in-out;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-color);
  overflow-y: auto;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--sidebar-width);
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: start;
  transition: transform 0.25s ease-in-out;
}

body.close .sidebar {
  transform: translateX(calc(var(--sidebar-width) * -1));
}

body:not(.close) .content {
  margin-left: var(--sidebar-width);
}

.sidebar .app-name {
  width: 100%;
  background-color: var(--sidebar-title-bg-color);
  color: var(--sidebar-title-color);
  margin: 0;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding: 2rem 0 2rem 0;
  margin-bottom: 1rem;
}

.sidebar .app-name a {
  color: inherit;
  text-decoration: none;
}

.sidebar .sidebar-nav {
  width: 100%;
}

.sidebar-nav li.collapse .app-sub-sidebar {
  display: none
}

.sidebar-nav ul {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  gap: 0;
}

.sidebar-nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.sidebar ul li.active {
  color: var(--sidebar-active-color);
  background-color: var(--sidebar-active-bg-color);
  border-left: 0.25rem solid var(--sidebar-active-border-color);
  font-weight: 700;
  font-size: 1.2rem;
}

@media (hover: hover) {
  .sidebar ul li:not(.active):hover {
    color: var(--sidebar-hover-color);
    background-color: var(--sidebar-hover-bg-color);
    border-left: 0.25rem solid var(--sidebar-hover-border-color);
  }
}

.sidebar ul li a {
  color: inherit;
  border: none;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  padding: 0.5rem 0.25rem 0.5rem 1.5rem;
}

.sidebar ul li.active a {
  padding: 0.5rem 0.25rem 0.5rem 1.25rem;
}

@media (hover: hover) {
  .sidebar ul li:hover a {
    padding: 0.5rem 0.25rem 0.5rem 1.25rem;
  }
}

.sidebar .search {
  position: relative;
  height: 2.5rem;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none
}

.sidebar .search .input-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: start;
}

.sidebar .search input {
  background-color: var(--sidebar-search-bg-color);
  color: var(--sidebar-search-color);
  border: none;
  padding: 0.5rem 1rem;
}

.sidebar .search input:focus {
  box-shadow: 0 0 0.25rem var(--sidebar-bg-color);
  border: none;
}

.sidebar .search .clear-button.show {
  background-color: var(--sidebar-search-bg-color);
  color: var(--sidebar-search-color);
  display: block;
  font-size: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .search .results-panel.show {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  left: 0;
  width: 100%;
  min-height: calc(100vh - 5rem);
  background-color: var(--sidebar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0;
  padding-bottom: 3rem;
}

.sidebar .search .results-panel.show .empty {
  font-size: 1.5rem;
}

.sidebar .search .matching-post {
  width: 100%;
  padding: 0 0 0 0.25rem;
  border-bottom: 0.05rem solid var(--sidebar-search-hr-color);
}

@media (hover: hover) {
  .sidebar .search .matching-post:hover {
    border-left: 0.25rem solid var(--sidebar-hover-border-color);
    padding: 0;
    color: var(--sidebar-hover-color);
    background-color: var(--sidebar-hover-bg-color);
    text-decoration: none;
  }
}

.sidebar .search .matching-post.active {
  border-left: 0.25rem solid var(--sidebar-active-border-color);
  padding: 0;
  color: var(--sidebar-active-color);
  background-color: var(--sidebar-active-bg-color);
  text-decoration: none;
}

.sidebar .search .matching-post a {
  color: inherit;
  display: block;
  margin: 0;
  text-decoration: none;
  width: 100%;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.sidebar .search .search-keyword {
  color: var(--sidebar-active-bg-color);
}

.sidebar .search .search-keyword {
  font-style: normal;
  font-weight: 700
}

.sidebar-toggle {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 30;
  cursor: pointer;
}

.sidebar-toggle::before {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg-color);
  content: "";
  transition: transform 0.25s ease-in-out;
  z-index: -1;
}

body.close .sidebar-toggle::before {
  transform: translateX(calc(var(--sidebar-width) * -1));
}

.sidebar-toggle .sidebar-toggle-button {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 0.25rem;
}

.sidebar-toggle span {
  background-color: var(--sidebar-toggle-open-color);
  display: block;
  width: 1rem;
  height: calc(0.5rem / 3);
}

@media (hover: hover) {
  .sidebar-toggle:hover span {
    background-color: var(--sidebar-toggle-hover-color);
  }
}

body.close .sidebar-toggle span {
  background-color: var(--sidebar-toggle-close-color);
}

@media (hover: hover) {
  body.close .sidebar-toggle:hover span {
    background-color: var(--sidebar-toggle-hover-color);
  }
}

.markdown-section {
  margin: 0 auto;
  max-width: 80%;
  padding: 2rem 1rem 2.5rem 1rem;
  position: relative;
  color: var(--content-color);
  background-color: var(--content-bg-color);
  word-wrap: break-word;
  word-break: break-word;
}

.markdown-section>* {
  box-sizing: border-box;
  font-size: inherit
}

.markdown-section h1 {
  margin: 3rem 0 6rem 0;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 900;
  font-family: var(--silicom-font);
  color: var(--content-title-color);
  text-align: center;
  word-break: keep-all;
}

.markdown-section>:first-child {
  position: absolute;
  top: 8.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--content-info-color);
}

.markdown-section p,
.markdown-section ul,
.markdown-section ol,
.markdown-section blockquote,
.markdown-section table {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2rem;
}

.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  font-family: var(--silicom-font);
  color: var(--content-title-h2-color);
}

.markdown-section h1 a,
.markdown-section h2 a,
.markdown-section h3 a,
.markdown-section h4 a,
.markdown-section h5 a,
.markdown-section h6 a {
  text-decoration: none;
  color: inherit;
}

@media (hover: hover) {

  .markdown-section h1 a:hover,
  .markdown-section h2 a:hover,
  .markdown-section h3 a:hover,
  .markdown-section h4 a:hover,
  .markdown-section h5 a:hover,
  .markdown-section h6 a:hover {
    text-decoration: none;
  }
}

.markdown-section h2 {
  position: relative;
  font-size: 2.5rem;
  font-weight: 900;
  z-index: 1;
}

.markdown-section h2::after {
  content: '';
  display: block;
  width: 10rem;
  height: 0.8rem;
  background-color: var(--content-decoration1-color);
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.25s ease-in-out;
}

@media (hover: hover) {
  .markdown-section h2:hover::after {
    width: 100%;
  }
}

.markdown-section h3 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  z-index: 1;
}

.markdown-section h3::after {
  content: '';
  display: block;
  width: 6rem;
  height: 0.6rem;
  background-color: var(--content-decoration2-color);
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
}

.markdown-section h4 {
  font-size: 1.25rem;
  font-weight: 700;
}

.markdown-section h5,
.markdown-section h6 {
  font-size: 1.2rem;
  font-weight: 700;
}

.markdown-section p:has(img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.markdown-section a {
  color: var(--content-link-color);
  text-decoration: none;
  transition: text-decoration 0.25s ease-in-out;
}

@media (hover: hover) {
  .markdown-section a:hover {
    text-decoration: underline;
  }

  .markdown-section sup a:hover {
    text-decoration: none;
  }
}

.markdown-section img {
  max-width: 100%;
}

.markdown-section blockquote {
  margin: 0;
  border-left: 0.25rem solid var(--content-block-border-color);
  box-sizing: border-box;
  background-color: var(--content-block-bg-color);
  padding: 0.5rem 2rem;
}

.markdown-section blockquote pre:has(code) {
  border: 0.05rem solid var(--content-block-border-color);
  box-sizing: border-box;
}

.markdown-section blockquote blockquote {
  border: 0.05rem solid var(--content-block-border-color);
  border-left: 0.25rem solid var(--content-block-border-color);
}

.markdown-section ul, .markdown-section ol {
  padding-left: 1.5rem;
}

.markdown-section li::marker {
  color: var(--content-list-mark-color);
}

.markdown-section table {
  border-collapse: collapse;
  border: 0.05rem solid var(--content-table-border-color);
  box-sizing: border-box;
  width: 100%;
}

.markdown-section table th,
.markdown-section table td {
  padding: 0;
}

.markdown-section table thead {
  background-color: var(--content-table-thead-bg-color);
  color: var(--content-table-thead-color);
}

.markdown-section table tbody tr {
  transition: background-color 0.25s ease-in-out;
}

.markdown-section table tbody tr:nth-child(even) {
  background-color: var(--content-table-tbody-even-bg-color);
}

@media (hover: hover) {
  .markdown-section table tbody tr:hover {
    background-color: var(--content-table-tbody-hover-bg-color);
  }
}

.markdown-section table tbody tr td {
  text-align: center;
}

.markdown-section code,
.markdown-section code * {
  font-family: 'Courier New', Courier, monospace, '微软雅黑';
  white-space: pre-wrap;
}

.markdown-section pre:has(code) {
  position: relative;
  background-color: var(--content-block-bg-color);
  padding: 0.5rem;
  line-height: 1.2rem;
  font-size: 1rem;
}

.markdown-section p code {
  font-weight: 700;
}

.markdown-section hr {
  width: 100%;
  border: 1px solid var(--content-hr-color);
}

.markdown-section p.tip {
  border-bottom-right-radius: 2px;
  border-left: 4px solid #f66;
  border-top-right-radius: 2px;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  position: relative
}

.markdown-section p.tip:before {
  background-color: #f66;
  border-radius: 100%;
  color: #fff;
  content: "!";
  font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -12px;
  line-height: 20px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 14px
}

.markdown-section p.tip code {
  background-color: #efefef
}

.markdown-section p.tip em {
  color: #34495e
}

.markdown-section p.warn {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 1rem
}

.markdown-section ul.task-list>li {
  list-style-type: none
}

section.cover {
  position: relative;
  align-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: none;
  z-index: 100;
}

section.cover.show {
  display: flex
}

section.cover .cover-main {
  flex: 1;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

section.cover p:has(img) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

section.cover p:has(img)::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: var(--home-bg-color);
  opacity: .8;
}

section.cover p:has(img) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.cover .cover-main>img {
  width: 10rem;
  height: 10rem;
  z-index: 500;
}

section.cover a {
  color: inherit
}

section.cover a {
  text-decoration: none
}

@media (hover: hover) {
  section.cover a:hover {
    text-decoration: none
  }
}

section.cover p:has(a) {
  line-height: 1.5rem;
  margin: 1em 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

section.cover p:has(a) a:first-child,
section.cover p:has(a) a:last-child {
  border-radius: 1rem;
  border: 0.1rem solid;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  padding: 0.75em 2rem;
  text-decoration: none;
  width: 9rem;
  transition: all 0.2s ease-in-out;
}

section.cover p:has(a) a:first-child {
  border-color: var(--home-button1-border-color);
  color: var(--home-button1-color);
}

@media (hover: hover) {
  section.cover p:has(a) a:first-child:hover {
    background-color: var(--home-button1-border-color);
    color: var(--home-button1-hover-color);
  }
}

section.cover p:has(a) a:last-child {
  border-color: var(--home-button2-bg-color);
  color: var(--home-button2-color);
  background-color: var(--home-button2-bg-color);
}

@media (hover: hover) {
  section.cover p:has(a) a:last-child:hover {
    background-color: var(--home-button2-hover-bg-color);
    border-color: var(--home-button2-hover-bg-color);
    color: var(--home-button2-hover-color);
  }
}

section.cover h1 {
  color: var(--home-color);
  font-size: 4rem;
  font-weight: 900;
  margin: 0;
  position: relative;
  text-align: center
}

section.cover h1 a {
  display: block
}

section.cover h1 small {
  bottom: -.4375rem;
  font-size: 2rem;
  position: absolute
}

.app-sub-sidebar li:before {
  content: "-";
  padding-right: 4px;
  float: left
}

.markdown-section output {
  margin: 1.2em 0;
  position: relative
}

.markdown-section output {
  border-radius: 2px;
  display: block
}

.markdown-section output:after {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial
}

.markdown-section output {
  padding: 1.7rem 1.4rem;
  border: 1px dotted #ccc
}

.markdown-section output>:first-child {
  margin-top: 0
}

.markdown-section output>:last-child {
  margin-bottom: 0
}

.markdown-section output:after,
.markdown-section output:before {
  letter-spacing: .05rem
}

.markdown-section output:after {
  color: #ccc;
  font-size: .6rem;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  content: attr(data-lang)
}

.token.cdata, .token.comment, .token.doctype, .token.prolog {
  color: #8e908c
}

.token.namespace {
  opacity: .7
}

.token.boolean, .token.number {
  color: #c76b29
}

.token.punctuation {
  color: #525252
}

.token.property {
  color: #c08b30
}

.token.tag {
  color: #2973b7
}

.token.string {
  color: var(--silicom-color);
}

.token.selector {
  color: #6679cc
}

.token.attr-name {
  color: #2973b7
}

.language-css .token.string, .style .token.string, .token.entity, .token.url {
  color: #22a2c9
}

.token.attr-value, .token.control, .token.directive, .token.unit {
  color: var(--silicom-color);
  color: var(--theme-color, var(--silicom-color))
}

.token.function, .token.keyword {
  color: #e96900
}

.token.atrule, .token.regex, .token.statement {
  color: #22a2c9
}

.token.placeholder, .token.variable {
  color: #3d8fd1
}

.token.deleted {
  text-decoration: line-through
}

.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none
}

.token.italic {
  font-style: italic
}

.token.bold, .token.important {
  font-weight: 700
}

.token.important {
  color: #c94922
}

.token.entity {
  cursor: help
}

code .token {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  min-height: 1.5rem;
  position: relative;
  left: auto
}

aside.toc-nav {
  position: fixed;
  top: 70px;
  right: 3%;
  margin-right: 20px;
  width: 15rem;
  z-index: 999999;
  align-self: flex-start;
  flex: 0 0 auto;
  overflow-y: auto;
  max-height: 70%;
}

aside.toc-nav.nothing {
  width: 0;
}

.page_toc {
  position: relative;
  left: 0;
  margin: 10px 0;
  border: none;
  font-size: 1.0em;
}

.page_toc p.title {
  margin: 0;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 1.2em;
}

@media (hover: hover) {
  .page_toc .anchor:hover:after {
    content: "";
  }

  .page_toc div[class^="lv"] a:hover span {
    color: var(--toc-primary-color);
  }
}

.page_toc div {
  border-left: 2px solid var(--toc-secondary-color);
  text-indent: 10px;
  padding: 2px 0;
  cursor: pointer;
  font-weight: 400;
}

.page_toc div.active {
  border-left-color: var(--toc-primary-color);
  transition: border-left-color 0.2s;
  font-weight: 700;
}

.page_toc div[class^="lv"].active a span {
  color: var(--toc-primary-color);
  transition: color 0.2s;
}

.page_toc div[class^="lv"] a {
  color: var(--toc-color);
  text-decoration: none;
  line-height: 2em;
  display: block;
}

.page_toc div[class^="lv"] a span {
  color: var(--toc-color);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page_toc div.lv2 {
  text-indent: 20px;
}

.page_toc div.lv3 {
  text-indent: 30px;
}

.page_toc div.lv4 {
  text-indent: 40px;
}

.page_toc div.lv5 {
  text-indent: 50px;
}

.page_toc div.lv6 {
  text-indent: 60px;
}

.docsify-dark-switch {
  top: 2rem !important;
  right: 6rem !important;
}

@media (hover: hover) {
  .docsify-dark-switch>button:hover {
    border-color: var(--switcher-border-color) !important;
  }
}

@keyframes octocat-wave {
  0%, to {
    transform: rotate(0)
  }

  20%, 60% {
    transform: rotate(-25deg)
  }

  40%, 80% {
    transform: rotate(10deg)
  }
}

@media print {

  .cover,
  .app-nav,
  .github-corner,
  .sidebar,
  .sidebar-toggle,
  .toc-nav,
  .docsify-pagination-container {
    display: none
  }
}

@media screen and (max-width:425px) {
  section.cover .cover-main>img {
    width: 6rem;
    height: 6rem;
  }
}

@media screen and (max-width:768px) {
  :root {
    font-size: 12px;
  }

  section.cover h1 {
    font-size: 2.5rem
  }

  section.cover h1 small {
    display: none;
  }

  section.cover p:has(a) {
    gap: 0.5rem;
  }

  .github-corner, .sidebar, .sidebar-toggle {
    position: fixed;
  }

  .app-nav {
    margin-top: 16px;
  }

  .app-nav li ul {
    top: 30px;
  }

  main {
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .sidebar {
    top: 3rem;
    left: calc(var(--sidebar-width) * -1);
    transition: transform 0.25s ease-in-out;
  }

  .sidebar-toggle {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    padding: 1rem;
    line-height: 1rem;
    background-color: var(--sidebar-toggle-close-color);
    opacity: 1;
    transition: all 0.25s ease-in-out;
  }

  body.close .sidebar-toggle {
    opacity: 1;
  }

  .sidebar-toggle::before {
    display: none;
  }

  body.close .sidebar-toggle::before {
    transform: translateX(0);
  }

  body:not(.close) .sidebar-toggle::after {
    content: "SiliCOM购机指南";
    color: var(--sidebar-title-color);
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem 0;
    transition: all 0.25s ease-in-out;
  }

  .content {
    left: 0;
    max-width: 100vw;
    position: static;
    padding-top: 8rem;
    margin: 0;
    transition: transform 0.25s ease-in-out;
  }

  .content .markdown-section {
    max-width: 100%;
    padding: 1rem;
  }

  .app-nav, .github-corner {
    transition: transform .25s ease-out
  }

  body.close .sidebar {
    transform: translateX(var(--sidebar-width));
  }

  body:not(.close) .content {
    margin-left: 0;
  }

  .sidebar-toggle span {
    background-color: var(--sidebar-mobile-toggle-open-color);
  }

  body.close .sidebar-toggle span {
    background-color: var(--sidebar-mobile-toggle-open-color);
    transition: all 0.15s ease-in-out;
  }

  body.close .sidebar-toggle .sidebar-toggle-button span:first-child {
    transform: rotate(45deg) translateX(calc(0.25rem + 0.5rem/3)) translateY(calc(0.25rem - 0.05rem));
  }

  body.close .sidebar-toggle .sidebar-toggle-button span:last-child {
    transform: rotate(-45deg) translateX(calc(0.25rem + 0.5rem/3)) translateY(calc(-0.25rem + 0.05rem));
  }

  body.close .sidebar-toggle .sidebar-toggle-button span:nth-child(2) {
    opacity: 0;
  }

  body.close .content {
    transform: translateX(300px);
  }

  body.close .app-nav, body.close .github-corner {
    display: none;
  }

  .github-corner {
    display: none;
  }

  .docsify-dark-switch {
    position: fixed !important;
    top: 0.9rem !important;
    right: 1rem !important;
  }

  .docsify-dark-switch>button {
    border-color: var(--switcher-mobile-border-color) !important;
    background-color: var(--switcher-mobile-bg-color) !important;
  }

  .docsify-dark-switch>button:hover {
    border-color: var(--switcher-mobile-border-color) !important;
  }

  .content h1 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .markdown-section>:first-child {
    top: calc(8.5rem + 8rem)
  }
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: 14px;
  }

  section.cover h1 {
    font-size: 3rem;
  }

  aside.toc-nav {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  section.content:not(:has(.nothing)) {
    padding-right: 15rem;
  }
}